.skills-wrapper{
max-width:450px;
width:40% ;
margin:auto;
display:block;
margin-top: 5%;
}

.container-bod-skills .react-bodymovin-container{
width: 40%;
height: 80%;
position: absolute;
top: 50%;
transform: translateY(-50%);
margin: auto;
display: block;
left: 0;
right: 0;
}

@media screen and (max-width: 640px) {
  .skills-wrapper{
      max-width: 400px;
      width: 85%;
      margin: auto;
      display: block;
      margin-top: 20%;
  }

  .container-bod-skills .react-bodymovin-container {
    width:90%;
  }

}
