.map{
width:80%;
margin: auto;
position: inherit;
}
.mapboxgl-map{
  width: 100%;
  height: 500px;
  margin: auto;
  position: inherit;
}

.map canvas{
  position: inherit !important;
}


.mapboxgl-ctrl-attrib-inner{
  display:none;
}
