@import url('https://fonts.googleapis.com/css?family=Lato');

.fBJgyH {
opacity: 1 !important;
background: #fff1e0 !important;;
}


.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #112b4d;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#opening-introduction{
  z-index: 8;
  overflow: auto;
  max-width: 580px;
  background:#112b4d;
  font-family: 'Lato', sans-serif;
  color: #2e496c;
}

.img-opening{
  display: inherit;
  margin: auto;
  margin-top: 25px;
}

.div-para{
background:#112b4d;
margin: auto;
margin: 20px;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
color: rgb(255, 241, 224);
padding: 79px;
}

.border{
  border: 20px solid #112b4d;
  min-height: 100%;
}

.button-link{
  color: #fff1e0;
  border: 2px solid;
  text-align: center;
  padding: 15px;
  width: 20%;
  margin: auto;
  margin-top: 40px;
}

.button-link:hover{
  color: black;
  background: #fff1e0;
   text-decoration: none;
}

a:-webkit-any-link {
     text-decoration: none;
}

@media screen and (max-width: 640px) {

  #opening-introduction{
    z-index: 8;
    width:100%;
  }

}
